<div class="card mx-6 my-2" [id]="cocktail.idDrink">

  <img class="card-background card-img-top img-fluid" [alt]="cocktail.strDrink" [src]="cocktail.strDrinkThumb"
    alt="drink" width="1920" height="2193" />
  <div class="card-content | flow">
    <div class="card-content--container | flow">
      <h2 class="card-title">{{ cocktail.strDrink }}</h2>
      <p class="card-description" >
        {{ cocktail.strInstructionsIT }}
      </p>
    </div>
    <button class="card-button" [routerLink]="['/detail', cocktail.idDrink]">Read more</button>
    <button class="button-image-prefe" (click)="gestisciPreferito()"
      [style.backgroundImage]="'url(' + buttonImage + ')'"></button>
  </div>
</div>