<div class="wrapper">
<mat-card class="example-card borderers">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"> <button class="button-image-prefe" (click)="gestisciPreferito()"[style.backgroundImage]="'url(' + buttonImage + ')'"></button> </div>
    <mat-card-title style="color:greenyellow">{{ cocktail.strDrink }}</mat-card-title>
    <mat-card-subtitle style="color:greenyellow">{{cocktail.strAlcoholic}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [alt]="cocktail.strDrink" [src]="cocktail.strDrinkThumb" width="100%">
  <mat-card-content style="margin-top: 1em" >
    <p>
      {{ responsiveText(cocktail.strInstructionsIT) }}.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="card-button" [routerLink]="['/detail', cocktail.idDrink]">Read more</button>
  </mat-card-actions>
</mat-card>

</div>