<!-- <div class="card mx-2 my-2" style="max-width: 250px;" [id]="cocktail.idDrink">
    <img [src]="cocktail.strDrinkThumb" class="card-img-top img-fluid" [alt]="cocktail.strDrink">
    <div class="card-body">
      <h2 class="card-title text-center">{{ cocktail.strDrink }}</h2>
      <div class="card-text text-truncate">{{ cocktail.strInstructionsIT }}</div>
      <a [routerLink]="['/detail', cocktail.idDrink]" > More content</a>
<button class="button-image" (click)="gestisciPreferito()" [style.backgroundImage]="'url(' + buttonImage + ')'" ></button>

    </div>
  </div> -->

  <div class="card mx-6 my-2" style="" [id]="cocktail.idDrink">

    <img
      class="card-background card-img-top img-fluid" [alt]="cocktail.strDrink"
      [src]="cocktail.strDrinkThumb"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card-content | flow">
      <div class="card-content--container | flow">
        <h2 class="card-title">{{ cocktail.strDrink }}</h2>
        <p class="card-description">
          {{ cocktail.strInstructionsIT }}
        </p>
      </div>
      <button class="button-image-prefe" (click)="gestisciPreferito()" [style.backgroundImage]="'url(' + buttonImage + ')'"></button>
      <button class="card-button"  [routerLink]="['/detail', cocktail.idDrink]">Read more</button>
    </div>
  </div>